<div class="login-wrapper">
  <div class="card">
    <div class="card-body">
        <form class="form-signin"  >
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

          <div class="form-floating">
            <label for="emailInput" class="sr-only">Email address</label>
            <input type="email"  name="email" class="form-control"
                   id="emailInput" placeholder="name@example.com" required autofocus ngModel>

          </div>
          <div class="form-floating">
            <label for="PasswordInput" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control"
                   id="PasswordInput" placeholder="Password" required ngModel>

          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </div>
  </div>
</div>


<h5>OR</h5>
<button
  (click)="login()"
  class="btn btn-primary">Login With Google </button>
